<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aplikasi Perekaman Data Rental Mobil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 align="center">Aplikasi Perekaman Data Rental Mobil</h1>
        <h2 align="center">Daftar Data Mobil</h2>
        
        <table border="1" align="center">
            <thead>
                <tr>
                    <td width="20px">ID</td>
                    <td>NO. POLISI</td>
                    <td>MERK TIPE</td>
                    <td>AKSI</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mbl : ${daftarMobil}">
                    <td th:text="${mbl.id}"></td>
                    <td th:text="${mbl.nopol}"></td>
                    <td th:text="${mbl.merk_tipe}"></td>
                    <td> <a th:href="@{/edit-data(id=${mbl.id})}">Ubah</a> | 
                    <a th:href="@{/delete(id=${mbl.id})}">Hapus</a></td>
                    
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><a href="/tambah-data">Tambah Data</a></td>
                </tr>
            </tfoot>

        </table>
    </body>
</html>
