<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Formulir Edit Data</title>
</head>
<body>

	<h1>Formulir Edit Data Mobil</h1>

	<form th:action="@{/edit-data}" method="post" th:object="${mbl}">
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" th:field ="*{id}" disabled="true " /> </td>
                                <td><input type="hidden" th:field ="*{id}" /></td>
				<td></td>
			</tr>

			<tr>
				<td>NO. POLISI</td>
				<td><input type="text" th:field="*{nopol}" /></td>
				<td></td>
			</tr>

			<tr>
				<td>MERK TIPE</td>
				<td><input type="text" th:field="*{merk_tipe}" /></td>
				<td></td>
			</tr>

			<tr>

				<td></td>
				<td>
					<button type="submit">Simpan</button>
				</td>

			</tr>
		</table>

	</form>

</body>
</html>